* {
    margin: 0;
    padding: 0;
    font-family: "Charis SIL", serif;
}

/* ==================================================
                        background
===================================================== */

.background {
    width: 100%;
    min-height: 90vh;

    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.background::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

/* ==================================================
                        header
===================================================== */

header {
    width: 100%;
    min-height: 10vh;
    background: linear-gradient(to top right, #3e7399, #bedbf7);
}

header h1 {
    text-align: center;
    line-height: 10vh;
    text-transform: uppercase;
}

/* ==================================================
                        tabs
===================================================== */

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
}

.left,
.right {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;
    color: #1976d2;
    width: 10vw;
}

.right_tabs {
    display: table;
}

.right {
    vertical-align: middle;
}

.left:hover,
.right:hover {
    background-color: rgba(227, 242, 253, 0.3);
}

.tabs > #staff:target ~ .tabs__links > a[href="#staff"],
.tabs > #new-card:target ~ .tabs__links > section > a[href="#new-card"],
.tabs > #sorting:target ~ .tabs__links > section > a[href="#sorting"] {
    background-color: #bbdefb;
    cursor: default;
}

.tabs > div:not(.tabs__links) {
    display: none;
    order: 1;
}

.tabs > div:target {
    display: block;
}

/* ==================================================
                Блоки с информацией
===================================================== */

.content {
    width: 70%;
    height: 75vh;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
}

/* ==================================================
                Таблица сотрудников
===================================================== */

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

/*оформление заголовков*/
.scroll-table th {
    padding: 5px;
    border: 1px solid #e3f2fd;
    background-color: #bbdefb;
}

#staff .scroll-table-body {
    height: 71vh;
}

#sorting .scroll-table-body {
    height: 59vh;
}

.scroll-table-body {
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3f2fd;
}

.scroll-table-body td {
    border: 1px solid #e3f2fd;
    border-right: 1px solid #e3f2fd;
    padding: 5px;
    vertical-align: top;
}

.scroll-table-body tr:hover {
    background-color: #e3f2fd7e;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ==================================================
                Создание новой карточки
===================================================== */

#new-card {
    padding: auto;
}

.create-card {
    margin: 5vw 0;
}

.header-create-card {
    margin: 15px 0;
    text-align: center;
}

form input {
    padding: 10px;
    margin: 10px 25vw;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 20vw;
}

input[value="Добавить сотрудника"] {
    width: 10vw;
    margin: 15px 30vw;
    background-color: #bbdefb;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

input[value="Добавить сотрудника"]:hover {
    background-color: #3e7399;
    color: white;
}

/* ==================================================
            Таблица с параметрами сортировки
===================================================== */

.sorting-options {
    width: 100%;
    padding: 1%;
    padding-bottom: 1%;
    height: 10vh;
}

.sorting-options th, td {
    padding: 0 3%;
    text-align: center;
}

#start-old, #end-old {
    margin-left: 2%;
    text-align: center;
    width: 7vw;
}

.sorting-options button {
    float: right;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 10vw;
    background-color: #bbdefb;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sorting-options button:hover {
    background-color: #3e7399;
    color: white;
}

/* ==================================================
        Модальное окно (карточка сотрудника)
===================================================== */

.modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.modal_window .employee_card {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.modal_window .employee_card .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.employee_card button {
    min-width: 10vw;
    margin: 0 75%;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
    background-color: #bbdefb;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.modal_window button:hover {
    background-color: #ffceb9;
}